@font-face {
  font-family: better-grade;
  src: url(./fonts/better-grade.ttf);
}

.font-cursive {
  font-family: better-grade;
}

.text-center {
  text-align: center;
}

.text-content-section {
  padding: 0 12px 0 12px;
  max-width: 1000px;
  margin: auto;
}

.rose {
  z-index: -1;
  max-width: 660px;
  width: 50%;
  position: absolute;
}
#rose-left {
  top: 0;
  left: 0;
}
#rose-right {
  top: 0;
  right: 0;
  transform: scaleX(-1);
}
